.gTwitWidget {
    background-color: black;
}

.gTwitHeader {
    background-color: #333;
}

.gTwitHeaderTextArea {
    display: inline;
    vertical-align: top;
    margin-top: 9px;
}

.gTwitDisplayName {
    color: white;
    font-size: 11px;
}

.gTwitUserId {
    color: white;
    font-size: 16px;
}

.gTwitProfileImage {
    display: inline;
    margin: 9px;
    width: 31px;
    height: 31px;
}

.gTwitFooter {
    background-color: #333;
}

.gTwitFooterImage {
    display: inline;
    margin: 10px;
    cursor: pointer;
}

.gTwitFooterText {
    position: absolute;
    right:0px;
    top:0px;
    color: white;
    margin: 10px;
    cursor: pointer;
}