.tweetViewBody {
    border-bottom: white 1px dashed;
}

.tweetViewInner {
    margin: 5px;
}

.tweetViewText {
    color: white;
    font-size: 12px !important;
    display: inline;
}

.tweetUserText {
    color: #4AED05;
    display: inline;
    padding-right: 3px;
    cursor: pointer;
    font-size: 13px;
}

.tweetHashTagText {
    color: #4AED05;
    display: inline;
    cursor: pointer;
    font-size: 13px;
}

.tweetUrlText {
    color: #4AED05;
    display: inline;
    cursor: pointer;
    font-size: 13px;
}

.tweetUserMentionText {
    color: #4AED05;
    display: inline;
    cursor: pointer;
    font-size: 13px;
}

.tweetMediaText {
    color: #4AED05;
    display: inline;
    cursor: pointer;
    font-size: 13px;
}
